<a href="https://colab.research.google.com/github/rafaeltedesco/Machine-Learning/blob/master/KNN_Wine_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn import datasets
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from math import sqrt

In [0]:
wine = datasets.load_wine()

In [0]:
df_wine = pd.DataFrame(data=wine.data, columns=wine.feature_names)

In [0]:
df_wine['class'] = wine.target

In [5]:
df_wine.head().T
#T faz o transpose (colunas para linhas)

                                    0        1        2        3       4
alcohol                         14.23    13.20    13.16    14.37   13.24
malic_acid                       1.71     1.78     2.36     1.95    2.59
ash                              2.43     2.14     2.67     2.50    2.87
alcalinity_of_ash               15.60    11.20    18.60    16.80   21.00
magnesium                      127.00   100.00   101.00   113.00  118.00
total_phenols                    2.80     2.65     2.80     3.85    2.80
flavanoids                       3.06     2.76     3.24     3.49    2.69
nonflavanoid_phenols             0.28     0.26     0.30     0.24    0.39
proanthocyanins                  2.29     1.28     2.81     2.18    1.82
color_intensity                  5.64     4.38     5.68     7.80    4.32
hue                              1.04     1.05     1.03     0.86    1.04
od280/od315_of_diluted_wines     3.92     3.40     3.17     3.45    2.93
proline                       1065.00  1050.00  1185.00  1480.00  735.00
class                            0.00     0.00     0.00     0.00    0.00

In [6]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  class                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB



---

In [7]:
df_wine['class'].value_counts()

1    71
0    59
2    48
Name: class, dtype: int64

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df_wine.drop('class', axis=1), df_wine['class'], test_size=0.3)

In [0]:
knn = KNeighborsClassifier(n_neighbors=3)

In [10]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [0]:
resultado = knn.predict(X_test)

In [12]:
resultado

array([0, 0, 1, 0, 1, 0, 0, 2, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 2, 1, 2,
       0, 2, 1, 0, 0, 0, 0, 2, 0, 2, 1, 2, 0, 1, 2, 1, 2, 0, 2, 1, 0, 2,
       0, 2, 0, 0, 1, 1, 1, 1, 2, 0])

In [0]:
accuracy3 = 100* sum(resultado == y_test)/len(X_test)

In [14]:
accuracy3

66.66666666666667

In [15]:
print(pd.crosstab(y_test, resultado, rownames=['Real'], colnames=['Predito'], margins=True))

Predito   0   1   2  All
Real
0        15   0   2   17
1         1  15   5   21
2         5   5   6   16
All      21  20  13   54

In [16]:
print(metrics.classification_report(y_test, resultado, target_names=wine.target_names))

              precision    recall  f1-score   support

     class_0       0.71      0.88      0.79        17
     class_1       0.75      0.71      0.73        21
     class_2       0.46      0.38      0.41        16

    accuracy                           0.67        54
   macro avg       0.64      0.66      0.64        54
weighted avg       0.65      0.67      0.66        54

#Otimizando o parâmetro K

In [0]:
k_list = list(range(1, 31))

In [0]:
parametros = dict(n_neighbors=k_list)

In [0]:
grid = GridSearchCV(knn,parametros, cv=5, scoring='accuracy')

In [20]:
grid.fit(df_wine.drop('class', axis=1), df_wine['class'])
print("Melhores parâmetros {} com o valor de acurácia {} ".format(grid.best_params_, grid.best_score_))

Melhores parâmetros {'n_neighbors': 1} com o valor de acurácia 0.7250793650793651