# First Simple Model Using KNN

**First Step** - Importing modules

In [73]:
import pandas as pd
import os

from sklearn.neighbors import KNeighborsClassifier

**Second Step** - Importing DataSet

In [74]:
data_path = os.path.abspath('..\databases')
data_file = 'funcionarios.xlsx'
file = '\\'.join([data_path, data_file])

In [75]:
employees_df = pd.read_excel(file)

**Third Step** - EDA - Exploratory Data Analysis and Clean Data

In [76]:
employees_df.head()

,Unnamed: 0,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,0,1,0,0,0,0,0,R
1,1,6,0,0,1,0,1,Rubi
2,2,3,1,0,0,1,0,Python
3,3,2,0,0,1,0,0,Java
4,4,4,0,1,0,1,0,Java

discoverying numbers of rows and columns

In [77]:
employees_df.shape

(10, 8)

drop column "unnamed" 0"

In [78]:
del employees_df['Unnamed: 0']

Checking whether the column was erased or not

In [79]:
employees_df.head()

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,1,0,0,0,0,0,R
1,6,0,0,1,0,1,Rubi
2,3,1,0,0,1,0,Python
3,2,0,0,1,0,0,Java
4,4,0,1,0,1,0,Java

**Fourth Step** - Split data into Train and expected answer

In [80]:
X = employees_df.iloc[:,:-1]
y = employees_df.iloc[:,-1]

**Fifth Step** - Creating KNN Model

In [81]:
knn = KNeighborsClassifier(n_neighbors=3)

Training model

In [82]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

Get a sample row without the expected result to pass to KneighborsClassifier

In [83]:
sample = employees_df.sample()

Showing the expected result for language and storing to compare it later

In [84]:
result_expected = sample.loc[:, 'linguagem']
print(result_expected)

3    Java
Name: linguagem, dtype: object

Removing expected result so KNN can predict

In [85]:
sample = sample.iloc[:,:-1]
sample

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior
3,2,0,0,1,0,0

Predict!

In [86]:
predicted_result = knn.predict(sample)

In [87]:
print('predicted result: {} | answer expected: {}\nIs equal??? {}'.format(predicted_result, result_expected, (predicted_result == result_expected)))

predicted result: ['Java'] | answer expected: 3    Java
Name: linguagem, dtype: object
Is equal??? 3    True
Name: linguagem, dtype: bool