# Study About DecisionTreeRegressor

In a specific weather condition, how many players are playing in the field?

In [68]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_graphviz


import pandas as pd

In [11]:
df_players = pd.read_excel('../databases/jogadores.xlsx')

In [12]:
df_players.head()

,Unnamed: 0,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
0,0,0,1,0,1,0,0,25
1,1,0,1,0,1,0,1,30
2,2,1,0,0,1,0,0,46
3,3,0,0,0,0,0,0,45
4,4,0,0,1,0,1,0,52

In [13]:
del df_players['Unnamed: 0']

In [14]:
df_players.head()

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
0,0,1,0,1,0,0,25
1,0,1,0,1,0,1,30
2,1,0,0,1,0,0,46
3,0,0,0,0,0,0,45
4,0,0,1,0,1,0,52

In [15]:
df_players.shape

(14, 7)

In [29]:
# selecting features 
X = df_players.iloc[:, :-1]

In [30]:
X.head()

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim
0,0,1,0,1,0,0
1,0,1,0,1,0,1
2,1,0,0,1,0,0
3,0,0,0,0,0,0
4,0,0,1,0,1,0

In [23]:
#selecting expected answer
y = df_players.iloc[:, -1]

In [24]:
y.head()

0    25
1    30
2    46
3    45
4    52
Name: Total de jogadores, dtype: int64

In [28]:
#defining hyperparameter to create a leaf with just two objects
tree = DecisionTreeRegressor(min_samples_leaf=2)

In [31]:
tree.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [34]:
#Collecting just one sample to predict
sample = df_players.sample()

In [33]:
sample

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
8,0,1,1,0,1,0,38

In [36]:
# spliting values betweeen answer and sample
answer = sample.iloc[:, -1]
sample_test = sample.iloc[:, :-1]

In [65]:
y_predict = tree.predict(sample_test)
print(f'Players in field (predicted): {int(round(y_predict[0], 2))}\nPlayers in field (real value): {answer.values[0]}')

Players in field (predicted): 33
Players in field (real value): 23

In [71]:
with open('regressiontree.dot', 'w') as f:
    export_graphviz(tree, out_file=f, feature_names=X.columns)

From Machine Learning Fundamentals by Impacta Tecnologia